@charset "utf-8";
body{ position:relative;}
section{
	width:100%;
	min-width:1024px;
	background:rgba(253,227,197,1.00);
}
.Fo1:before,.Fo1:after{
	position:absolute;
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 0 0 49%;
	border-bottom-width:49%;
	border-color: transparent transparent transparent #999;
	top:-50px;
	left:0;
}
.Fo1:after{
	border-color: transparent #999 transparent transparent ;
	top:-50px;
	right:0;
}
.Fool .left,.Fool .right{
	height:100%;
	width:49%;
	display:inline-block;
	position:relative;
}
.Fool .left{ background:rgba(167,220,245,1.00); overflow:hidden;}
.Fool .right{ background:rgba(228,184,245,1.00); overflow:hidden;}
.left .scrollBg,.right .scrollBg{width:100%;height:100%;}
.left .scrollBg div,.right .scrollBg div{position:absolute;height:100%;}
.left .scrollBg div img{float:right;height:100%;width:auto;}
.right .scrollBg div img{float:left;height:100%;width:auto;}
.left .wrap:after,.right .wrap:after{
	content:'';
	height:0;
	width:0;
	clear:both;
}
.left .menu,.right .menu{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	margin:0 auto;
	text-align:center;
	z-index: 5;
}
.left .menu span,.right .menu span{
	display: inline-block;
    width: 150px;
    height: 150px;
    margin: 20px;
	border-radius:50%;
	overflow:hidden;
	cursor:pointer;
}
.menu span img,.menu span img{width:100%;height:auto;}

.left-draw{
	position:fixed;
	z-index:10;
	left:0;
	top:0;
	width:0;
	height:100%;
	background:rgba(207,249,164,1.00);
	transition:width .5s;
    overflow: auto;
}
.right-draw{
	position:fixed;
	z-index:10;
	right:0;
	top:0;
	width:0;
	height:100%;
	background:rgba(164,249,174,1.00);
	transition:width .5s;
    overflow: auto;
}
.left-draw .menu span,.right-draw .menu span{
	display: inline-block;
    width:80px;
    height:80px;
    margin:5px;
	border-radius:50%;
	overflow:hidden;
	cursor:pointer;
}
#mask{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	top:0;
	left:0;
	z-index:9;
	display:none;
}
.close{
    position: fixed;
    width: 40px;
    height: 83px;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    display: none;
    background: rgba(0,0,0,.4);
}
.close:before,.close:after{
    content: '';
    width: 40px;
    height: 3px;
    background: #fff;
    position: absolute;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 54px;
}
.close:after{
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
	margin-top: 27px;
}
.right-draw .close{right:0;}
.right-draw .close:before{margin-top: 22px;}
.right-draw .close:after{margin-top: 49px;}
.artist{
	width:100%;
	height:100%;
	background:rgba(18,106,5,1.00);
	display:none;
}
.artwork{
	width:100%;
	height:100%;
	background:rgba(155,154,3,1.00);
	display:none;
}
.artist.selected,.artwork.selected{display:block;}
.Fo2 .inside{
	width:1024px;
	margin:0 auto;
	height:100%;
	overflow:hidden;
	background:rgba(255,147,167,1.00);
	position: relative;
}
.Fo2 .inside .wrap{ position: absolute;}
.Fo2 .inside .wrap:after{
	content:'';
	height:0;
	width:0;
	clear:both;
}
.Fo2 .inside .block{
	width:1024px;
	height:100%;
	float:left;
	position:relative;
}
.inside>.prev,.inside>.next{
	position:absolute;
	width:60px;
	height:100px;
	background:rgba(123,123,123,.2);
	top:50%;
	margin-top:-50px;
	cursor:pointer;
	-ms-transition:background .3s;
	transition:background .3s;
	opacity: .2;
}
.inside>.next{right:0;}
.inside>.prev:hover,.inside>.next:hover{
	background:rgba(123,123,123,.5);
	opacity: .8;
}
.inside>.prev:before,.inside>.prev:after,.inside>.next:before,.inside>.next:after{
	position:absolute;
	content:'';
	width:50px;
	height:3px;
	background:#fff;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.inside>.prev:before{margin-top: 66px;}
.inside>.prev:after{
	margin-top: 32px;
	-ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.inside>.next:before{margin:30px 0 0 10px;}
.inside>.next:after{
	margin:64px 0 0 10px;
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.picview{
	position:relative;
	width:900px;
	height:437px;
	margin: 0 auto;
	overflow: hidden;
}
.picview .slides, .picview .slides>li{
	list-style: none;
	height:100%;
}
.picview .slides>li img{
	width: 100%;
	height: auto;
}
.nav{text-align: center;}
.nav .dot{
	background:#fff;
	display: inline-block;;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin:10px;
	cursor: pointer;
}
.nav .dot:hover,.nav .dot.active{
	background: #666;
}
